img{
	max-width: 100%;
	height: auto;
    display: block;
}
a{
    text-decoration: none !important;
}

h2{
    font: normal normal bold 32px/46px Noto Sans TC;
    text-align: center;
    margin-top: 100px;
}
*,*::before,*::after{
    box-sizing: border-box;
}

@media(max-width: 375px){
    h2{
       margin-top: 60px;
       font: normal normal bold 28px/40px Noto Sans TC; 
    }
}