
.top{
    z-index: 10;
    background-color: $primary-green;
    width: 71px;
    height: 71px;
    color: #fff;
    border-radius: 50px;
    position: fixed;
    right: 48px;
    bottom: 47px;
}
.main{
    background-image: url("https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/f70f00178a7f0baa31e9c01634303d8562cfe93a/chatTalker_images/banner.svg");
    background-repeat: no-repeat;
    background-position: right top;
    background-size: contain;
    height: 100vh;
    position: relative;
    .bg-circle{
        position: absolute;
        z-index: -100;
        left: -139px;
        bottom: -139px;
    }
    .top{
        background-color: $primary-green;
        width: 71px;
        height: 71px;
        color: #fff;
        border-radius: 50px;
        position: absolute;
        right: 48px;
        bottom: 23px;
    }
    nav{
        padding: 24px 0;
        .logo{
            max-height: 40px;
        }
        .fee{
            font: normal normal normal 16px/24px Noto Sans TC;
            padding: 8px 32px;
            background-color: $fee-btn-color;
            border-radius: 22px;
            color: #fff;
        }
    }
    .banner{
        h1{
            font: normal normal bold 48px/70px Noto Sans TC;
            margin-top: 92px;
        }
        span{
            font: normal normal normal 16px/24px Noto Sans TC;
        }
    }
}

.program{
    padding-top: 100px;
    h2{
        margin-bottom: 48px;
    }
    .price{
        margin-bottom: 64px;
    }
    .price a{
        padding: 12px 32px;
        margin-right: 16px;
        color: $primary-green;
        border: 1px solid $primary-green;
        border-radius: 27px;
        &:hover{
            background-color: $primary-green;
            color: #fff;
        }
    }
    
    .box{
        box-shadow: 0px 2px 10px #00000014;
        border-radius: 12px;
        padding-bottom: 32px;
        .title{
            width: 100%;
            padding-top: 10px;
            display: block;
            font: normal normal bold 24px/35px Noto Sans TC;
            border-bottom: 1px solid $color-grey;
        }
        .intro{
            display: block;
            font: normal normal normal 16px/24px Noto Sans TC;
            margin: 32px 0;
        }
        .num{
            // padding: 0 24px;
            margin-bottom: 32px;
            .box-grey{
                max-width: 169px;
                background-color: $color-grey-2;
                border-radius: 12px;
                padding: 24px 32px;
                span{
                    font: normal normal normal 12px/17px Noto Sans TC;
                }
                .box-sm{
                    .user-num{
                        font: normal normal normal 32px/35px Comfortaa;
                        color: $primary-green;
                    }
                    .monthly-fee{
                        font: normal normal normal 32px/35px Comfortaa;
                    }
                }
                
            }
            .equal{
                margin: 0 16px;
            }
    
        }
        .advantage{
            padding: 0 29px;
            margin-bottom: 32px;
            .icon{
                margin-right: 12px;
            }
            p{
                 font: normal normal normal 16px/24px Noto Sans TC;
            }
                
        }
        .exp{
            display: block;
            margin: 0 auto;
            padding: 12px 32px;
            background-color: $primary-green;
            border-radius: 50px;
            color: #fff;
        }
        
        
    }

}

.question{
    padding: 100px 0;
    h1{
        font: normal normal bold 32px/46px Noto Sans TC;
        margin-bottom: 40px;
    }
    .QandA{
        box-shadow: 0px 2px 10px #00000014;
        border-radius: 12px;
        .question-title{
            display: block;
            padding: 16px 32px;
            font: normal normal normal 18px/28px Noto Sans TC;
            color: #000;
        }
        .card-body{
            font: normal normal normal 16px/32px Noto Sans TC;
            color: $color-grey-3;
        }
    }
}

.footer{
    background-color: $color-grey-2;
    p{
        font: normal normal normal 16px/24px Noto Sans TC;
    }
}