@media(max-width: 375px){
    .top{
        width: 50px;
        height: 50px;
    }
    body{
        max-width: 375px !important;
        overflow-x: hidden !important;
    }
    .main{
        background-image: url(https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/f70f00178a7f0baa31e9c01634303d8562cfe93a/chatTalker_images/banner_sm.svg);
        background-position: bottom !important;
        background-size: cover;
        
        nav{
            background-color: #fff;
            border-bottom: 2px solid $primary-yellow;
            .logo{
                max-height: 24px;
            }
        }
        .top{
            width: 40px;
            height: 40px;
            right: 16px;
            bottom: -10px;
        }
    }
    .program{
        
        padding-top: 60px;
        .price{
            width: 100%;
            overflow-x: scroll;
            a{
                margin-right: 6px;
                padding: 8px 16px !important;
                font: normal normal normal 16px/24px Comfortaa;
            }
        }
        .program-content{
            // .row{
            //     max-width: 375px !important;
            //     }
            .box{
                
                margin-top: 24px;
                .num{
                    padding: 0 16px;
                    span{
                        font: normal normal normal 12px/17px Noto Sans TC;
                    }
                    .user-num,.monthly-fee{
                        font: normal normal normal 28px/32px Comfortaa;
                    }
                    .box-grey{
                        max-width: 139px;
                        padding: 16px 24px;
                    }
                }
                .equal{
                    margin: 0 6px;
                }
                
            }
            
            .advantage{
                p{
                    font: normal normal normal 14px/20px Noto Sans TC;
                }
            }
        }
        
        
        
    }
}